# BC 카드 소비 데이터 분석 (2)

* 2020년 3월 카드 소비 데이터 : bc_card_out2020_03.txt
  - 레코드 수가 100만개 이상
  - \t으로 분리된 csv 파일
  - 전처리된 데이터가 저장되어 있음

## 1. 데이터 로딩 to DataFrame
- 전처리하여 csv로 저장한 파일 '201906.csv'을 판다스 dataframe으로 로딩 (encoding='utf-8', index_col=0)
- 앞부분 데이터 확인
- 전체 데이터 수 확인

In [1]:
import pandas as pd

In [2]:
# df = pd.read_csv('bc_card_out2020_03.txt', sep='\t', encoding='UTF-8')
# df.to_csv('bc_data_202003.csv', encoding='UTF-8', index=False)

In [3]:
bc_card = pd.read_csv('bc_data_202003.csv', sep=',')

In [4]:
bc_card.tail()

,REG_YYMM,MEGA_CTY_NO,MEGA_CTY_NM,CTY_RGN_NO,CTY_RGN_NM,ADMI_CTY_NO,ADMI_CTY_NM,MAIN_BUZ_CODE,MAIN_BUZ_DESC,TP_GRP_NO,...,CSTMR_GUBUN,CSTMR_MEGA_CTY_NO,CSTMR_MEGA_CTY_NM,CSTMR_CTY_RGN_NO,CSTMR_CTY_RGN_NM,SEX_CTGO_CD,AGE_VAL,FLC,AMT,CNT
1589489,202003,11,서울특별시,1126,중랑구,11260575,면목3.8동,80,음식,80,...,내국인,11,서울특별시,1144,마포구,2,50대,4,115000,4
1589490,202003,11,서울특별시,1162,관악구,11620695,신림동,80,음식,80,...,내국인,11,서울특별시,1174,강동구,2,40대,3,40000,3
1589491,202003,11,서울특별시,1168,강남구,11680640,역삼1동,40,쇼핑,42,...,내국인,11,서울특별시,1141,서대문구,2,30대,1,89230,3
1589492,202003,11,서울특별시,1156,영등포구,11560700,대림1동,80,음식,80,...,내국인,11,서울특별시,1121,광진구,2,50대,4,84500,3
1589493,202003,11,서울특별시,1126,중랑구,11260680,신내1동,80,음식,80,...,내국인,41,경기도,4115,의정부시,2,20대,1,47800,15

In [5]:
len(bc_card)

1589494

In [6]:
bc_card.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1589494 entries, 0 to 1589493
Data columns (total 23 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   REG_YYMM           1589494 non-null  int64
 1   MEGA_CTY_NO        1589494 non-null  int64
 2   MEGA_CTY_NM        1589494 non-null  object
 3   CTY_RGN_NO         1589494 non-null  int64
 4   CTY_RGN_NM         1589494 non-null  object
 5   ADMI_CTY_NO        1589494 non-null  int64
 6   ADMI_CTY_NM        1589494 non-null  object
 7   MAIN_BUZ_CODE      1589494 non-null  int64
 8   MAIN_BUZ_DESC      1589494 non-null  object
 9   TP_GRP_NO          1589494 non-null  int64
 10  TP_GRP_NM          1589494 non-null  object
 11  TP_BUZ_NO          1589494 non-null  int64
 12  TP_BUZ_NM          1589494 non-null  object
 13  CSTMR_GUBUN        1589494 non-null  object
 14  CSTMR_MEGA_CTY_NO  1589494 non-null  int64
 15  CSTMR_MEGA_CTY_NM  1589494 non-null  object
 16  CSTMR_CTY_RGN_NO   1589494 non-null  int64
 17  CSTMR_CTY_RGN_NM   1589494 non-null  object
 18  SEX_CTGO_CD        1589494 non-null  int64
 19  AGE_VAL            1589494 non-null  object
 20  FLC                1589494 non-null  int64
 21  AMT                1589494 non-null  int64
 22  CNT                1589494 non-null  int64
dtypes: int64(13), object(10)
memory usage: 278.9+ MB

In [7]:
bc_card[bc_card.duplicated() == True]

Empty DataFrame
Columns: [REG_YYMM, MEGA_CTY_NO, MEGA_CTY_NM, CTY_RGN_NO, CTY_RGN_NM, ADMI_CTY_NO, ADMI_CTY_NM, MAIN_BUZ_CODE, MAIN_BUZ_DESC, TP_GRP_NO, TP_GRP_NM, TP_BUZ_NO, TP_BUZ_NM, CSTMR_GUBUN, CSTMR_MEGA_CTY_NO, CSTMR_MEGA_CTY_NM, CSTMR_CTY_RGN_NO, CSTMR_CTY_RGN_NM, SEX_CTGO_CD, AGE_VAL, FLC, AMT, CNT]
Index: []

[0 rows x 23 columns]

## 2. 서울시 거주/비거주 고객의 소비액 구하기
* 서울시 거주 고객 수와 소비액
    - 남성 고객수, 소비액
    - 여성 고객수, 소비액
* 서울시 비거주 고개 수와 소비액
    - 남성 고객수, 소비액
    - 여성 고객수, 소비액

In [8]:
seoul_card_df = bc_card[bc_card['CSTMR_MEGA_CTY_NM'] == '서울특별시']

seoul_m = seoul_card_df[seoul_card_df['SEX_CTGO_CD'] == 1]
seoul_w = seoul_card_df[seoul_card_df['SEX_CTGO_CD'] == 2]

print('서울시 거주 고객 수와 소비액')
print(f"  - 남성 : {len(seoul_m):,}명, {seoul_m['AMT'].sum(axis=0):,}원")
print(f"  - 여성 : {len(seoul_w):,}명, {seoul_w['AMT'].sum(axis=0):,}원")

서울시 거주 고객 수와 소비액
  - 남성 : 480,069명, 682,678,945,342원
  - 여성 : 421,003명, 703,235,624,289원

In [9]:
seoul_sex = pd.pivot_table(seoul_card_df, values=['AMT'], aggfunc='sum', index=['SEX_CTGO_CD'])

seoul_m = seoul_card_df[seoul_card_df['SEX_CTGO_CD'] == 1]
seoul_w = seoul_card_df[seoul_card_df['SEX_CTGO_CD'] == 2]

print('서울시 거주 고객 수와 소비액')
print(f"  - 남성 : {len(seoul_m):,}명, {seoul_sex.loc[1, 'AMT']:,}원")
print(f"  - 여성 : {len(seoul_w):,}명, {seoul_sex.loc[2, 'AMT']:,}원")

서울시 거주 고객 수와 소비액
  - 남성 : 480,069명, 682,678,945,342원
  - 여성 : 421,003명, 703,235,624,289원

In [17]:
seoul_sex = pd.pivot_table(seoul_card_df, values=['AMT'], aggfunc=['count','sum'], index=['SEX_CTGO_CD'])
seoul_sex

              count           sum
                AMT           AMT
SEX_CTGO_CD
1            480069  682678945342
2            421003  703235624289

In [15]:
nonseoul_card_df = bc_card[bc_card['CSTMR_MEGA_CTY_NM'] != '서울특별시']

nonseoul_m = nonseoul_card_df[nonseoul_card_df['SEX_CTGO_CD'] == 1]
nonseoul_w = nonseoul_card_df[nonseoul_card_df['SEX_CTGO_CD'] == 2]

print('서울시 비거주 고객 수와 소비액')
print(f"  - 남성 : {len(nonseoul_m):,}명, {nonseoul_m['AMT'].sum(axis=0):,}원")
print(f"  - 여성 : {len(nonseoul_w):,}명, {nonseoul_w['AMT'].sum(axis=0):,}원")

서울시 비거주 고객 수와 소비액
  - 남성 : 385,870명, 1,015,425,463,575원
  - 여성 : 302,552명, 925,473,886,325원

In [16]:
nonseoul_sex = pd.pivot_table(nonseoul_card_df, values=['AMT'], aggfunc='sum', index=['SEX_CTGO_CD'])

nonseoul_m = nonseoul_card_df[nonseoul_card_df['SEX_CTGO_CD'] == 1]
nonseoul_w = nonseoul_card_df[nonseoul_card_df['SEX_CTGO_CD'] == 2]

print('서울시 비거주 고객 수와 소비액')
print(f"  - 남성 : {len(nonseoul_m):,}명, {nonseoul_sex.loc[1, 'AMT']:,}원")
print(f"  - 여성 : {len(nonseoul_w):,}명, {nonseoul_sex.loc[2, 'AMT']:,}원")

서울시 비거주 고객 수와 소비액
  - 남성 : 385,870명, 1,015,425,463,575원
  - 여성 : 302,552명, 925,473,886,325원

In [18]:
nonseoul_sex = pd.pivot_table(nonseoul_card_df, values=['AMT'], aggfunc=['count','sum'], index=['SEX_CTGO_CD'])
nonseoul_sex

              count            sum
                AMT            AMT
SEX_CTGO_CD
1            385870  1015425463575
2            302552   925473886325

### 3. 서울시 거주자 편의점 소비 건수와 소비액 구하기

In [12]:
cov_df = bc_card[bc_card['TP_BUZ_NO'] == 4010]
seoul_cov = cov_df[cov_df['CSTMR_MEGA_CTY_NM'] == '서울특별시']
print("서울시 거주자 편의점 소비 건수와 소비액")
print(f" - 소비건수 : {seoul_cov['CNT'].sum(axis=0):,}건")
print(f" - 소비액 : {seoul_cov['AMT'].sum(axis=0):,}원")

서울시 거주자 편의점 소비 건수와 소비액
 - 소비건수 : 10,113,011건
 - 소비액 : 66,513,977,146원

In [13]:
seoul_cov2 = pd.pivot_table(seoul_cov, values=['CNT','AMT'], aggfunc='sum', index=['TP_BUZ_NO'])
print("서울시 거주자 편의점 소비 건수와 소비액")
print(f" - 소비건수 : {seoul_cov2.loc[4010, 'CNT']:,}건")
print(f" - 소비액 : {seoul_cov2.loc[4010, 'AMT']:,}원")

서울시 거주자 편의점 소비 건수와 소비액
 - 소비건수 : 10,113,011건
 - 소비액 : 66,513,977,146원

### 4. 강남구 거주자의 강남구 내 소비액과 강남구 외 소비액 구하기

In [14]:
gangnam = bc_card[bc_card['CSTMR_CTY_RGN_NM'] == '강남구']
gangnam_gn = gangnam[gangnam['CTY_RGN_NM'] == '강남구']
gangnam_ex = gangnam[gangnam['CTY_RGN_NM'] != '강남구']
print("강남구 거주자의")
print(f"강남구 내 소비액 : {gangnam_gn['AMT'].sum(axis=0):,}원")
print(f"강남구 외 소비액 : {gangnam_ex['AMT'].sum(axis=0):,}원")

강남구 거주자의
강남구 내 소비액 : 46,387,952,763원
강남구 외 소비액 : 62,203,324,642원

In [20]:
gangnam_gn = bc_card[(bc_card['CSTMR_CTY_RGN_NM'] == '강남구') & (bc_card['CTY_RGN_NM'] == '강남구')]
gangnam_ex = bc_card[(bc_card['CSTMR_CTY_RGN_NM'] == '강남구') & (bc_card['CTY_RGN_NM'] != '강남구')]
print("강남구 거주자의")
print(f"강남구 내 소비액 : {gangnam_gn['AMT'].sum(axis=0):,}원")
print(f"강남구 외 소비액 : {gangnam_ex['AMT'].sum(axis=0):,}원")

강남구 거주자의
강남구 내 소비액 : 46,387,952,763원
강남구 외 소비액 : 62,203,324,642원